<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Поиск продукта</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}"/>
    <meta charset="UTF-8" />
</head>

<body>
<header>
    <div class="container">
        <div class="navbar">
            <a th:href="@{/}">
                <img th:src="@{/img/supkt2.png}" class="logo" />
            </a>
            <ul>
                <li>
                    <a title="Выйти" type="submit" th:href="@{/logout}">
                        Выйти
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="text-center">
    <h1 class="c-text-h1">Поиск продукта</h1>
    <input class="search" name="search" placeholder="Поиск..">

</div>
</body>
</html>
