<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Редактирование работника</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
</head>
<body>
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/all/home}"><img th:src="@{/img/supkt2.png}" class="logo" /></a>
            <ul>
                <li>
                    <a title="Назад" th:href="@{/all/home}">
                        Назад
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="text-center">
    <h1 class="c-text-h1 margin-five margin-bottom-five">Редактирование работника</h1>

    <form class="box" action="#" th:action="@{/admin/editSeller}" th:object="${seller}" method="post">
        <div class="c-label box c-box-input">
            <label> Имя: <input type="text" th:field="*{firstName}" /> </label>
            <label> Фамилия: <input type="text" th:field="*{lastName}" /> </label>
            <label> Отчество: <input type="text" th:field="*{patronymicName}" /> </label>
            <label> Логин: <input type="text" th:field="*{userName}" /> </label>
            <label> Пароль: <input type="text" th:field="*{userPassword}"  /> </label>
            <label> Id должн.: <input type="text" th:field="*{positionId}" /> </label>
            <input type="hidden" th:value="${seller.id}" th:field="*{id}" />
            <input type="hidden" th:value="${seller.roleName}" th:field="*{roleName}" />
            <input type = "submit" class="login-button" value=" Изменить " onclick="showMessage()"/>
        </div>
    </form>

</div>
</body>
</html>
