<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Система учета продаж</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="navbar">
                    <a class="a-link-margin" th:href="@{/all/buyerPage}">
                        <img th:src="@{/img/supkt2.png}" class="logo" />
                    </a>
                    <ul>
                        <li>
                            <a class="a-link-margin" title="Выйти" th:href="@{/logout}">
                                Выйти
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="text-center">
            <h1 class="c-text-h1 margin-five">
                Добро пожаловать в систему!
            </h1>
            <ul  style="padding: 2% 30%;">
                <div>
                <li><a class="a-link-margin" title="Каталог продуктов" th:href="@{/all/products}">
                    Каталог продуктов</a>
                </li>
                <li><a class="a-link-margin" title="Краткий список продуктов" th:href="@{/all/productNames}">
                    Краткий список продуктов</a>
                </li>
                <li><a class="a-link-margin" title="Поиск продукта" th:href="@{/all/findProduct}">
                    Поиск продукта</a>
                </li>
                <li><a class="a-link-margin" title="Вакансии" th:href="@{/all/positions}">
                    Вакансии</a>
                </li>
                <li><a class="a-link-margin" title="Поиск вакансии" th:href="@{/all/findPosition}">
                    Поиск вакансии</a>
                </li>
            </div>

            </ul>
        </div>
    </body>
</html>
