<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title>Система учета продаж</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}"  />
        <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="navbar">
                    <a class="a-link-margin" th:href="@{/}"><img th:src="@{/img/supkt2.png}" class="logo" /></a>
                    <ul>
                        <li>
                            <a class="a-link-margin" title="Регистрация" th:href="@{/registration}">
                                Регистрация
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="box c-box-incorrect">
            <div class="c-label incorrect" th:if="${param.error}">
                Неправильный логин или пароль.
            </div>
            <div class="c-label incorrect" th:if="${param.logout}">
                Вы вышли из системы.
            </div>
        </div>
        <form class="box" th:action="@{/login}" method="post">
            <div class="c-label box c-box-input">
                <label> Логин: <input type="text" name="username" /> </label>
                <label> Пароль: <input type="password" name="password" />
                </label> <input class="login-button" type="submit" value=" Войти " />
            </div>
        </form>
    </body>
</html>
