<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Система учета продаж</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}"  />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/}"><img th:src="@{/img/supkt2.png}" class="logo" /></a>
            <ul>
                <li>
                    <a class="a-link-margin" title="Войти" th:href="@{/all/home}">
                        Войти
                    </a>
                </li>
                <li>
                    <a class="a-link-margin" title="Регистрация" th:href="@{/registration}">
                        Регистрация
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="text-center">
    <h1 class="c-text-h1 margin-five">Система учета продаж компьютерной техники</h1>
    <p class="c-text-body">
        Добро пожаловать в систему учета, здесь вы можете много чего
        сделать, я это потом допишу
    </p>
    <img th:src="@{/img/logo.jpg}" />
</div>
</body>
</html>