<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Добавление акта</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
</head>
<body>
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/all/home}"><img th:src="@{/img/supkt2.png}" class="logo" /></a>
            <ul><li><a class="a-link-margin" title="Выйти" type="submit" th:href="@{/logout}">Выйти</a></li></ul>
        </div>
    </div>
</header>

<div class="text-center">
    <h1 class="c-text-h1">Добавление акта</h1>
</div>

<form class="box" action="#" th:action="@{/seller/addAct}" th:object="${act}" method="post">
    <div class="c-label box c-box-input">
        <label> Id продукта: <input type="text" th:field="*{productId}" /> </label>
        <label> Id работника: <input type="text" th:field="*{sellerId}" /> </label>
        <label> Id покупателя: <input type="text" th:field="*{buyerId}" /> </label>
        <label> Количество: <input type="text" th:field="*{count}" /> </label>
        <label> Дата: <input type="date" th:field="*{date}" /> </label>
        <input type = "submit" class="login-button" value=" Добавить "/>
    </div>
</form>
</body>
</html>
