<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:utext="#{findacts.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}"/>
    <meta charset="UTF-8" />
</head>

<body>
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/all/home}"><img th:src="@{/img/supkt2.png}" class="logo" /></a>
            <div class="local">
                <a href="#en" th:href="@{?locale=en}">En</a> |
                <a href="#ru" th:href="@{?locale=ru}">Ru</a>
            </div>
            <ul><li><a class="a-link-margin" th:text="#{logout.title}" th:href="@{/logout}"></a></li></ul>
        </div>
    </div>
</header>

<div class="text-center">
    <h1 class="c-text-h1 margin-five" th:utext="#{findacts.title}"></h1>
    <form th:action="@{/seller/findAct}" method="get">

        <input class="search" type="text" name="search" th:value="${search}" th:placeholder='#{placeholder.title}'>

        <div th:if="${#lists.isEmpty(result)}" class="c-label incorrect" th:utext="#{nothingfound.title}"></div>
        <div th:if="${not #lists.isEmpty(result)}">
            <h1 class="c-text-h1" th:utext="#{result.title}"></h1>
            <div class="table-container-small">
                <table>
                    <thead>
                    <tr>
                        <th th:utext="#{id.title}"></th>
                        <th th:utext="#{productId.title}"></th>
                        <th th:utext="#{sellerId.title}"></th>
                        <th th:utext="#{buyerId.title}"></th>
                        <th th:utext="#{count.title}"></th>
                        <th style="text-align: center" th:utext="#{datee.title}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="act: ${result}">
                        <td><a class="a-link-no-margin" th:href="'/seller/editAct?id=' + ${act.id}" th:text="${act.id}"></a></td>
                        <td th:utext="${act.productId}"></td>
                        <td th:utext="${act.sellerId}"></td>
                        <td th:utext="${act.buyerId}"></td>
                        <td th:utext="${act.count}"></td>
                        <td th:utext="${act.date}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>

</body>
</html>
