<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Добавление продукта</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <script type="text/javascript" th:src="@{/scripts/product/addProduct.js}"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="navbar">
            <a th:href="@{/}">
                <img th:src="@{/img/supkt2.png}" class="logo" />
            </a>
            <ul>
                <li>
                    <a title="Назад" th:href="@{/}">
                        Назад
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="text-center">
    <h1 class="c-text-h1">Добавление продукта</h1>
</div>

<form class="box" action="#" th:action="@{/seller/addProduct}" th:object="${product}" method="post">
    <div class="c-label box c-box-input">
        <label> Название: <input type="text" th:field="*{productName}" /> </label>
        <label> Стоимость: <input type="text" th:field="*{productCost}" /> </label>
        <input type = "submit" class="login-button" value=" Добавить " onclick="showMessage()"/>
    </div>
</form>
</body>
</html>
