<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title th:utext="#{editproduct.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <script type="text/javascript" th:src="@{/scripts/product/editProduct.js}"></script>
</head>
<body onload="onLoad()">
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/all/home}"><img th:src="@{/img/supkt2.png}" class="logo" /></a>
            <div class="local">
                <a href="#en" th:href="@{?locale=en}">En</a> |
                <a href="#ru" th:href="@{?locale=ru}">Ru</a>
            </div>
            <ul><li><a class="a-link-margin" th:text="#{logout.title}" th:href="@{/logout}"></a></li></ul>
        </div>
    </div>
</header>

<div class="text-center">
    <h1 class="c-text-h1 margin-five" th:utext="#{editproduct.title}"></h1>

    <form class="box" action="#" th:action="@{/seller/editProduct}" th:object="${product}" method="post">
        <div class="c-label box c-box-input">
            <label for="name" th:utext="#{name.title} + ':'"></label>
            <input id="name" type="text" th:value="${product.productName}" th:field="*{productName}" />
            <label for="cost" th:utext="#{cost.title} + ':'"></label>
            <input id="cost" type="text" th:value="${product.productCost}" th:field="*{productCost}" />
            <input type="hidden" th:value="${product.id}" th:field="*{id}" />
            <input type = "submit" class="login-button" th:value="' ' + #{edit.title} + ' '" onclick="showMessage()"/>
        </div>
    </form>


</div>
</body>
</html>
