<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Поиск покупателя</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}"/>
    <meta charset="UTF-8" />
</head>

<body>
<header>
    <div class="container">
        <div class="navbar">
            <a th:href="@{/}">
                <img th:src="@{/img/supkt2.png}" class="logo" />
            </a>
            <ul>
                <li>
                    <a class="a-link-margin" title="Выйти" type="submit" th:href="@{/logout}">
                        Выйти
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="text-center">
    <h1 class="c-text-h1 margin-five">Поиск покупателя</h1>
    <form th:action="@{/seller/findBuyer}" method="get">

        <input class="search" type="text" name="search" th:value="${search}" placeholder="Поиск..">

        <div th:if="${#lists.isEmpty(result)}" class="c-label incorrect">Ничего не найдено.</div>
        <div th:if="${not #lists.isEmpty(result)}">
            <h1 class="c-text-h1">Результаты поиска</h1>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Отчество</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>Телефон</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="buyer: ${result}">
                        <td><a class="a-link-no-margin" th:href="'/seller/editBuyer?id=' + ${buyer.id}"  th:text="${buyer.id}"></a></td>
                        <td th:utext="${buyer.firstName}"></td>
                        <td th:utext="${buyer.lastName}"></td>
                        <td th:utext="${buyer.patronymicName}"></td>
                        <td th:utext="${buyer.userName}"></td>
                        <td th:utext="${buyer.userPassword}"></td>
                        <td th:utext="${buyer.phone}"></td>
                        <td th:utext="${buyer.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>
</body>
</html>
