<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:utext="#{sellers.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}"/>
    <meta charset="UTF-8" />
</head>

<body>
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/all/home}"><img th:src="@{/img/supkt2.png}" class="logo" /></a>
            <div class="local">
                <a href="#en" th:href="@{?locale=en}">En</a> |
                <a href="#ru" th:href="@{?locale=ru}">Ru</a>
            </div>
            <ul><li><a class="a-link-margin" th:text="#{logout.title}" th:href="@{/logout}"></a></li></ul>
        </div>
    </div>
</header>
<div class="text-center">
    <h1 class="c-text-h1 margin-five" th:utext="#{sellers.title}"></h1>
    <div class="table-container">

        <table>
            <thead>
            <tr>
                <th th:utext="#{id.title}"></th>
                <th th:utext="#{firstName.title}"></th>
                <th th:utext="#{lastName.title}"></th>
                <th th:utext="#{login.name}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="seller: ${sellers}">
                <td><a class="a-link-no-margin" th:href="'/admin/editSeller?id=' + ${seller.id}"  th:text="${seller.id}"></a></td>
                <td th:utext="${seller.firstName}"></td>
                <td th:utext="${seller.lastName}"></td>
                <td th:utext="${seller.userName}"></td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
</body>
</html>
